$name;format="upper,snake"$_DB_HOST=
$name;format="upper,snake"$_DB_PORT=
$name;format="upper,snake"$_DB_USER=
$name;format="upper,snake"$_DB_PASSWORD=
$name;format="upper,snake"$_DB_NAME=
$name;format="upper,snake"$_ELASTIC_URL=
